
@{
    ViewBag.Title = "Üye Ekle";
}

<h2>ÜYE EKLE</h2>

<form class="form-horizontal">

    <div class="form-group">
        <label class="col-md-12">Ad</label>
        <div class="col-md-12">
            <input type="text" id="uyeAd" class="form-control" placeholder="Üye adını giriniz.">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-12">Soyad</label>
        <div class="col-md-12">
            <input type="text" id="uyeSoyad" class="form-control" placeholder="Üye soyadını giriniz.">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-12">Tc</label>
        <div class="col-md-12">
            <input type="text" id="uyeTc" class="form-control" placeholder="Tc'yi giriniz.">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-12">Telefon</label>
        <div class="col-md-12">
            <input type="text" id="uyeTel" class="form-control" placeholder="Telefon numarasını giriniz.">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="button" id="uyeKaydet" class="btn btn-block btn-info" value="Kaydet" />
        </div>
    </div>
</form>


